<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <p>Navegar</p> 
<ion-button (click)="navegar()">
</ion-button>
<p>Correo</p> 
<ion-button (click)="abrir_mail()">
</ion-button>
<p>Foto</p> 
<ion-button (click)="foto()">
</ion-button>
<p>Llamada</p> 
<ion-button (click)="callnumber()">
</ion-button>
<p>Geolocalización</p> 
<ion-button (click)="geolocalizacion()">
</ion-button>
<p>SocialSharing</p> 
<ion-button (click)="compartir()">
</ion-button>
<p>API REST</p> 
<ion-button (click)="apiweb()">
</ion-button>
</ion-content>
